In [89]:
import pandas as pd
import numpy as np
import random
import scipy
from scipy.special import factorial
import math  
import copy  
import matplotlib.pyplot as plt  
%pwd

'c:\\Users\\huancwang2\\Documents\\CS5487\\Assignment\\PS4 coding part'

In [90]:
# data from the problm for each city

London_data = np.concatenate ( (np.zeros((1, 229)), np.ones((1, 211)), 2 * np.ones((1, 93)), 
3 * np.ones((1, 35)), 4 * np.ones((1, 7)), 5 * np.ones((1, 1)) ), axis=1 )
London_data
np.random.shuffle(London_data[0])

Antwep_data = np.concatenate ( (np.zeros((1, 325)), np.ones((1, 115)), 2 * np.ones((1, 67)), 
3 * np.ones((1, 30)), 4 * np.ones((1, 18)), 5 * np.ones((1, 21)) ), axis=1 )
np.random.shuffle(Antwep_data[0])

London_data.shape

(1, 576)

In [102]:
table_list = []

def init_data(sample, k, N): 
    Pi = (1/k)*np.ones(k) 
    X = sample
    lbda = 5 * np.random.random(k)
    respon = np.zeros((sample.shape[1],k))  
    return X, Pi, lbda, respon



def E_step(X, Pi, lbda, respon, k, N):   
    for i in range(0, N):  
        Denom = 0 
        Numer = [0.0] * k
        for j in range(0, k):  
            Numer[j] = (Pi[j] * (math.exp(-lbda[j]) * math.pow(lbda[j], X[0, i]))) / math.factorial(X[0, i])  # Poisson distribution
            Denom += Numer[j]
        for j in range(0, k):  
            respon[i,j] = Numer[j] / Denom
    return respon

    
    
def M_step(X, Pi, lbda, respon, k,N):  
    for j in range(0,k):  
        Numer = 0  
        Denom = 0  
        for i in range(0,N):  
            Numer += respon[i,j] * X[0,i]  
            Denom += respon[i,j]  
        lbda[j] = Numer / Denom
        Pi[j] = Denom / N
    return Pi, lbda
        
def EM_model(sample, k, N, iter_num, Epsilon): 
    X, Pi, lbda, respon = init_data(sample,k,N)  
    for i in range(iter_num):   
        respon = E_step(X, Pi, lbda, respon, k,N)  
        Pi, lbda = M_step(X, Pi, lbda, respon, k,N)  
        # print(i, lbda)
    table_list.append(lbda)

if __name__ == '__main__':
    sample_dataset = Antwep_data
    for i in range(1, 6):
        k=i
        iter_num = 1000 
        epsilon = 0.0001 
        np.random.shuffle(sample_dataset[0])
        EM_model(sample_dataset, k, N=London_data.shape[1], iter_num=iter_num, Epsilon=epsilon) 
    print(table_list)
    
    import pandas as pd
    df = pd.DataFrame(table_list)

[array([0.89583333]), array([0.22978978, 2.19536519]), array([0.02158186, 0.55326463, 2.37445015]), array([0.00284947, 2.37600973, 0.53038559, 0.53034532]), array([2.19536519, 2.19536519, 2.19536519, 2.19536519, 0.22978978])]

In [103]:
df = df.fillna(0)
df.columns = [1,2,3,4,5]
df

          1         2         3         4        5
0  0.895833  0.000000  0.000000  0.000000  0.00000
1  0.229790  2.195365  0.000000  0.000000  0.00000
2  0.021582  0.553265  2.374450  0.000000  0.00000
3  0.002849  2.376010  0.530386  0.530345  0.00000
4  2.195365  2.195365  2.195365  2.195365  0.22979